:root {
  // intrepid theme
  --intrepid-blue: #314455;
  --intrepid-purple: #644e5b;
  --intrepid-dark-red: #9e5a63;
  --intrepid-red: #c96567;
  --intrepid-gray: #97aabd;

  // antique/clean theme
  --antique-rust: #b56357;
  --antique-mint: #b4dbc0;
  --antique-slate: #eae3ea;
  --sea-foam: #a7b3a5;
}
