:root {
  --black-overlay: rgba(0, 0, 0, 0.3);
  --gray-borderline: rgb(155, 155, 155);
  --yellow-nav-link-hover: rgb(224, 203, 61);
  --white-borderline: rgb(225, 225, 225);

  // group of complements
  /*--blue-overlay: rgba(26, 85, 113, 0.80);*/
  --blue-overlay: rgba(6, 65, 93, 0.80);
  --yellow-complementary-blue-overlay: rgb(242, 232, 113);

  // group of complements
  --red-overlay: rgba(80, 16, 11, 0.90);
  --yellow-complementary-red-overlay: rgb(182, 158, 95);
}
