.experience {
  background-image: url('./images/waikiki_beach.jpg');
}

.experience-container {
  display: grid;
  grid-template-columns: 13% 28% 4% 42% 13%;
  grid-template-rows: 25% 75%;
}

.experience-description {
  color: rgb(185, 185, 185);
  margin: 24px;
  .experience-description-timeline-header {
    display: inline;
  }
  .experience-description-list-header {
    margin-top: 16px;
  }
  .experience-job1 {
    color: rgb(0, 220, 102);
  }
  .experience-job2 {
    color: rgb(238, 44, 44);
  }
  .experience-job3 {
    color: rgb(255,215,0);
  }
  h2 {
    color: white;
    margin: 16px 0 4px 0;
    transition: all 0.3s ease;
  }
  h2:first-child {
    margin-top: 0;
  }
  h3 {
    display: inline;
  }
  p, ul {
    margin: 4px 0;
  }
  li {
    color: white;
    margin-bottom: 6px;
    p {
      color: rgb(185, 185, 185);
    }
  }
  li:last-child {
    margin-bottom: 0;
  }
}

.experience-description-container {
  grid-column-start: 4;
  grid-row-start: 2;
  background: rgba(0, 0, 0, 0.75);
}

.experience-item {
  display: inline;
  margin: 0 12px;
}

.experience-item-container {
  background: rgba(0, 0, 0, 0.4);
  border: 1px solid white;
  border-radius: 50px;
  cursor: pointer;
  padding: 20px 28px;
  strong {
    color: white;
    font-size: 18px;
  }
}

.experience-item-details {
  color: rgb(180, 180, 180);
  font-size: 14px;
  p {
    display: inline;
    margin: 0;
  }
}

.experience-list {
  grid-column-start: 2;
  grid-row-start: 2;
  ul {
    padding: 0;
  }
}

.experience-middle-border {
  align-self: center;
  border-left: 3px solid white;
  grid-column-start: 3;
  grid-row-start: 2;
  height: 75%;
  margin: 0 20% 0 80%;
  transition: all 0.3s ease;
}

.experience-middle-border-default {
  border-left: 1px solid white;
}

.experience-middle-border-job1 {
  border-left: 1px solid rgb(0, 220, 102);
}

.experience-middle-border-job2 {
  border-left: 1px solid rgb(238, 44, 44);
}

.experience-middle-border-job3 {
  border-left: 1px solid rgb(255,215,0);
}

.experience-title {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 1;
  justify-self: center;
  h1 {
    border-bottom: 1px solid rgb(105, 105, 105);
    border-top: 1px solid rgb(105, 105, 105);
    padding-bottom: 8px;
    margin: 32px 0;
  }
}

.job1, .job2, .job3 {
  transition: all 0.3s ease;
}

.job1:hover {
  background: rgba(0, 220, 102, 0.7);
  .experience-item-details, strong {
    color: black;
  }
}

.job2:hover {
  background: rgba(238, 44, 44, 0.65);
  .experience-item-details, strong {
    color: black;
  }
}

.job3:hover {
  background: rgba(255,215,0, 0.55);
  .experience-item-details, strong {
    color: black;
  }
}

.experience-item-container-selected-job1 {
  background-color: rgba(0, 220, 102, 0.7);
}
.experience-item-container-selected-job2 {
  background-color: rgba(238, 44, 44, 0.65);
}
.experience-item-container-selected-job3 {
  background-color: rgba(255,215,0, 0.55);
}

.selected-job {
  .experience-item-details, strong {
    color: black;
  }
}
