.intro {
  background-image: url('./images/annecy_lake.jpg');
}

.intro-container {
  align-items: center;
  display: grid;
  grid-template-columns: 10% 40% 40% 10%;
  grid-template-rows: 25% 23% 32% 25%;
  height: 100%;
}

.title {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-template-columns: auto auto;
  justify-self: center;
}

.title-picture {
  background-image: url('./images/profile_pic.jpg');
  background-size: cover;
  border: 1px solid white;
  border-radius: 100px;
  height: 200px;
  width: 200px;
}

.title-name {
  align-self: center;
  border-left: 1px solid var(--white-borderline);
  color: white;
  font-weight: normal;
  padding-left: 5%;
  margin-left: 5%;
  width: 100%;
  h1 {
    font-size: 80px;
    letter-spacing: -4px;
    line-height: 80%;
    margin: 0;
  }
  p {
    font-weight: bold;
    margin: 30px 0 0 6px;
  }
}

.navigation {
  align-self: start;
  border-bottom: 1px solid var(--white-borderline);
  border-top: 1px solid var(--white-borderline);
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  justify-self: center;
  margin: 0;
  padding: 14px 0;
  li {
    display: inline;
    font-family: 'muli';
    margin: 0 25px;
  }
  li:first-child {
    margin-left: 0;
  }
  li:last-child {
    margin-right: 0;
  }
  a {
    color: white;
    text-decoration: none;
    transition: color 0.2s ease;
  }
  a:hover {
    color: var(--yellow-nav-link-hover);
  }
}
