.projects {
  color: white;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  .projects-list {
    grid-column-start: 1;
    justify-content: center;
    margin-top: 20px;
    ul {
      list-style-type: none;
      padding: 0;
      .projects-list-project-item {
        display: grid;
        font-size: 18px;
        justify-content: center;
        margin: 12px 0 82px;
      }
    }
  }
  .projects-text {
    // background: var(--intrepid-blue);
    background-image: linear-gradient(to bottom right, var(--intrepid-blue), var(--intrepid-purple));
    height: 100%;
    width: 100%;
    .projects-text-inner {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto 1fr auto;
      height: inherit;
      .projects-text-title {
        grid-row-start: 1;
        grid-row-end: 2;
        padding: 18px 18px 0 18px;
        h2 {
          font-family: "cormorantinfant-regular";
          font-size: 54px;
          letter-spacing: 1px;
          margin: 0 0 4px 0;
        }
      }
      .projects-text-subtitle {
        grid-row-start: 2;
        grid-row-end: 3;
        padding: 0 18px;
        h3 {
          font-family: "cormorantinfant-regular";
          font-size: 24px;
          margin: 0 4px;
        }
        grid-column-start: 1;
        grid-column-end: 2;
        margin-bottom: 26px;
        .projects-text-subtitle-type {
          font-family: "cormorantinfant-italic";
          letter-spacing: 2px;
        }
      }
      .projects-text-body {
        font-family: 'roboto-light';
        font-size: 16px;
        grid-column-start: 1;
        grid-row-start: 3;
        grid-row-end: 4;
        line-height: 1.6;
        padding: 0 18px;
        p {
          margin: 14px 0 18px 0;
        }
      }
      .projects-text-link-list {
        display: grid;
        font-family: "roboto-thin";
        grid-row-start: 4;
        grid-row-end: 5;
        grid-template-columns: 1px 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        padding: 18px 18px 18px 18px;
        ul {
          display: block;
          grid-column-start: 2;
          grid-column-end: 3;
          grid-row-start: 1;
          grid-row-end: 4;
          list-style-type: none;
          margin-left: 16px;
          li {
            border-spacing: 12px;
            margin-bottom: 12px;
            a {
              color: white;
              text-decoration: none;
              transition: color 0.2s ease;
            }
            a:hover {
              color: var(--intrepid-red);
            }
            p {
              display: inline-block;
              margin: 0;
              vertical-align: center;
            }
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
        .projects-text-link-list-left-border-top-section {
          grid-column-start: 1;
          grid-column-end: 2;
          grid-row-start: 1;
          grid-row-end: 2;
          border-left: 1px solid var(--intrepid-gray);
        }
        .projects-text-link-list-left-border-middle-section {
          grid-column-start: 1;
          grid-column-end: 2;
          grid-row-start: 2;
          grid-row-end: 3;
          border-left: 1px solid var(--intrepid-gray);
        }
        .projects-text-link-list-left-border-bottom-section {
          grid-column-start: 1;
          grid-column-end: 2;
          grid-row-start: 3;
          grid-row-end: 4;
          border-left: 1px solid var(--intrepid-gray);
        }
      }
    }
  }
  .projects-general {
    background-size: contain;
  }
  .projects-text-generator {
    background-image: url('./images/text.jpg');
    height: 409px;
    width: 667px;
  }

  .project-enter {
    opacity: 0.01;
    &.project-enter-active {
      opacity: 1;
      transition: all 200ms ease-in;
    }
  }
  .project-exit {
    opacity: 1;
    &.project-exit-active {
      opacity: 0.01;
      transition: all 200ms ease-out;
    }
  }
}
