.projects {
  color: white;
  display: grid;
  font-family: 'muli-light';
  grid-template-columns: 1fr;
  justify-items: center;
  .projects-arrow {
    position: fixed;
    left: 5%;
    grid-column-start: 1;
    z-index: 5;
    a {
      color: white;
    }
  }
  .projects-list {
    grid-column-start: 1;
    justify-content: center;
    margin-top: 20px;
    ul {
      list-style-type: none;
      padding: 0;
      .projects-list-project-item {
        display: grid;
        justify-content: center;
        margin: 12px 0 82px;
      }
    }
  }
  .projects-text {
    background: var(--blue-overlay);
    height: 100%;
    width: 100%;
    .projects-text-inner {
      display: grid;
      grid-template-columns: auto 1fr;
      padding: 20px;
      .projects-text-title {
        h2 {
          font-family: "muli-extralight";
          font-size: 50px;
          margin: 0 0 4px 0;
        }
      }
      .projects-text-subtitle {
        h3 {
          font-family: "muli-extralightitalic";
          font-size: 24px;
          margin: 0 4px;
        }
        grid-column-start: 1;
        grid-column-end: 2;
        margin-bottom: 14px;
      }
      .projects-text-body {
        grid-column-start: 1;
        grid-column-end: span 2;
        font-size: 18px;
        line-height: 1.6;
        p {
          margin: 14px 0 18px 0;
        }
      }
      .projects-text-body-border-bottom {
        border-bottom: 1px solid var(--white-borderline);;
        margin-top: 16px;
      }
      .projects-text-link-list {
        grid-column-start: 1;
        grid-column-end: span 2;
        ul {
          display: block;
          list-style-type: none;
          margin-top: 16px;
          li {
            border-spacing: 12px;
            margin-bottom: 2px;
            a {
              color: white;
              text-decoration: none;
              transition: color 0.2s ease;
            }
            a:hover {
              color: var(--yellow-complementary-blue-overlay);
            }
            p {
              display: table-cell;
              vertical-align: middle;
            }
          }
        }
      }
    }
  }
  .projects-general {
    background-size: contain;
  }
  .projects-dog-breed-classifier {
    background-image: url('./images/leo.jpg');
    height: 667px;
    width: 500px;
  }
  .projects-calcentral {
    background-image: url('./images/calcentral.jpg');
    height: 400px;
    width: 667px;
  }
  .projects-text-generator {
    background-image: url('./images/text.jpg');
    height: 409px;
    width: 667px;
  }

  .project-enter {
    opacity: 0.01;
    &.project-enter-active {
      opacity: 1;
      transition: all 200ms ease-in;
    }
  }
  .project-exit {
    opacity: 1;
    &.project-exit-active {
      opacity: 0.01;
      transition: all 200ms ease-out;
    }
  }
}
