.skills {
  background-image: url('./images/strasbourg_town.jpg');
}

.skills-container {
  display: grid;
  grid-template-columns: 5% 18% 18% 18% 18% 18% 5%;
  grid-template-rows: 20% 40% 40%;
}

.skills-title {
  grid-column-start: 2;
  grid-column-end: 7;
  grid-row-start: 1;
  justify-self: center;
  h1 {
    border-bottom: 1px solid rgb(45, 45, 45);
    border-top: 1px solid rgb(45, 45, 45);
    margin: 32px 0;
  }
}

.skill1 {
  grid-column-start: 2
}
